/* ARMAS DE NERO */
h2, h3 {
    font-family: $fuenteTitulos;
    padding-left: 5px;
}

.armasNero {
    padding-left: 5px;

    .redqueen {
        width: 100px;
    }

    p {
        font-family: $fuenteGeneral;
    }

    img {
        width: 280px;
    }
}
.armasDante {
    padding-left: 5px;

    .redqueen {
        width: 100px;
    }

    p {
        font-family: $fuenteGeneral;
    }
    
    img {
        width: 280px;
    }
}
.armasV {
    padding-left: 5px;

    .redqueen {
        width: 100px;
    }

    p {
        font-family: $fuenteGeneral;
    }
    
    img {
        width: 280px;
    }
}
.armasVergil {
    padding-left: 5px;

    .redqueen {
        width: 100px;
    }

    p {
        font-family: $fuenteGeneral;
    }
    
    img {
        width: 280px;
    }
}