/*HEADER*/
body {
    background-color: black;
    color: white;
}

.navbar {
    font-family: $fuenteTitulos;
}

.titulo {
    display: flex;
    justify-content: center;

    .logoChikito {
        width: 90px;
    }

    h1 {
        font-family: $fuenteTitulos;
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .fondo {
        display: none;
    }
}

@media (max-width: 600px) {
    .titulo {
        display: none;
    }
}


.tituloCelu {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .logoChikitoCelu {
        width: 90px;
    }
    h2 {
        font-family: $fuenteTitulos;
        margin-top: 25px;
    }
}
@media (min-width: 601px) {
    .tituloCelu {
        display: none;
    }
}
