/*MISIONES SECRETAS*/
.misionesSecretas {
    margin-left: 5px;
    img {
        width: 600px;
    }

    
    h3 {
        font-family: $fuenteTitulos;
        font-size: 150%;
    }
    p {
        font-family: $fuenteGeneral;
    }
    strong {
        color: bisque;
    }
    
}