//VARIABLES DE FUENTE

$fuenteTitulos: "Russo One", sans-serif;
$fuenteGeneral:'Roboto Condensed', sans-serif;

//VARIABLES DE COLORES

$colorBronce: #a7501d;
$colorPlata: #c0c0c0;
$colorOro: #CC9900;
$colorPlatino: #97AAC0;

